:root {
    --orange: #ff8645;
    --orange-light: #ffe3dd;
    --grey: #6d6d6d;
    --black: #000000;
}

* {
    font-family: "Monospace", serif;
}


body {
    margin: 0;
    min-height: 100vh;
    font-size: 16px;
    font-family: "Monospace", serif;
}

.form-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container > div {
    -webkit-box-shadow: 0 0 20px 5px var(--orange);
    -moz-box-shadow: 0 0 20px 5px var(--orange);
    box-shadow: 0 0 20px 5px var(--orange);
    background-color: var(--orange-light);
    width: 80%;
    max-width: 600px;
    border-radius: 1rem;
    padding: 3rem 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container form {
    min-width: 250px;
    width: 85%;
}

.input-container {
    text-align: start;
    margin-bottom: 1.2rem;
    width: 100%;
}

.input-container label {
    width: 100%;
}

.input-container input {
    border-radius: .8rem;
    padding: .5rem 1rem;
    border: 1px solid var(--orange-light);
    width: 100%;
    box-sizing: border-box;
}

.input-container input:focus-visible {
    outline: none;
    border-color: var(--orange);
}

.app-btn {
    border-radius: 10px;
    background-color: var(--black);
    color: white;
    padding: .5rem;
    width: 100%;
    font-weight: 700;
    font-size: 1.2rem;
    cursor: pointer;
    border-style: none;
}

.button-container {
    margin-top: .9rem;
}